swagger: "2.0"

info:
  version: 1.0.0
  title: Passle API
  description: An API for Passle

schemes:
  - https
host: ec2-54-191-103-8.us-west-2.compute.amazonaws.com
basePath: /openapi101

paths: 
  /collections:
     get:
      summary: Gets collections
      description: Returns a list containing all collections
      responses:
        200:
          description: A list of Collections
          schema:
            type: array
            items:
              required:
                - order_no
              properties:
                delivered:
                  type: string
                picked_up:
                  type: string
                order_no:
                  type: string
     post:
      summary: Creates a collection
      description: Adds a new collection.
      parameters:
        - name: collection
          in: body
          description: The collection to create
          schema:
            required:
              - order_no
            properties:
              delivered:
                type: string
              picked_up:
                type: string
              order_no:
                type: string
      responses:
        204:
          description: Collections successfully created
        400:
          description: Collections havnt been created
    
  /collections/{order_no}:
     get:
      summary: Gets a collection
      description: Returns a single collection
      parameters:
        - name: order_no
          in: path
          required: true
          description: The collections order_no
          type: string
      responses:
        200:
          description: A collection
          schema:
              required:
                - order_no
              properties:
                delivered:
                  type: string
                picked_up:
                  type: string
                order_no:
                  type: string
        404:
          description: The collection does not exist
  
  
